:root {
  --container-width: 1000px;
  --container-padding-x: 20px;

  --color-light: #ffffff;
  --color-dark: #000000;

  --box-shadow: 3px 3px 10px 0px #787878;
  --box-shadow-inset: inset -2px -2px 8px 0px #787878;
  --border: 3px solid var(--color-dark);
  --border-radius: 15px;

  --transition-duration: .2s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.shadow-block {
  height: 70px;
  padding-inline: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.shadow-block--inset {
  box-shadow: var(--box-shadow-inset);
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);
  border: none;
  transition-duration: var(--transition-duration);
}

.custom-checkbox {
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.custom-checkbox::after {
  content: '\2714';

  color: var(--color-dark);
  position: absolute;
  top: -0.2em;
  left: 0.2em;
  width: 0;
  height: 0;
  font-size: 26px;
  overflow: hidden;
  transition-duration: var(--transition-duration);
}

.custom-checkbox:checked::after {
  width: 30px;
  height: 30px;
  transition-duration: var(--transition-duration);
}

.todo__header {
  padding-block: 40px;
}

.todo__title {
  margin-bottom: 30px;
  text-align: center;
}

.create-task {
  display: flex;
  align-items: center;
}

.create-task__form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.create-task__input {
  flex-grow: 1;
  border: none;
  background-color: var(--color-light);
  outline: none;
  border: 3px solid transparent;
  color: var(--color-dark);
}

.create-task__input:focus-visible {
  border-bottom: var(--border);
}

.create-task__button {
  position: relative;
  flex-shrink: 0;
}

.create-task__button::before,
.create-task__button::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 3px;
  height: 25px;
  background-color: var(--color-dark);
  border-radius: 2px;
  transition-duration: var(--transition-duration);
}

.create-task__button::after {
  rotate: 90deg;
}

.todo__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.todo__item {
  scale: 1;
  transition-duration: var(--transition-duration);
  animation-name: task-appearance;
  animation-duration: var(--transition-duration); 
}

.task {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.task.checked {
  box-shadow: var(--box-shadow-inset);
  order: 10;
  text-decoration: line-through;
}

.task__checkbox {
  flex-shrink: 0;
}

.task__content {
  flex-grow: 1;
}

.task__delete-button {
  flex-shrink: 0;
  position: relative;
}

.task__delete-button::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 25px;
  height: 3px;
  background-color: var(--color-dark);
  border-radius: 2px;
}

@keyframes task-appearance {
  0% {
    opacity: 0;
    translate: 0 -100%;
  }

  100% {
    opacity: 1;
    translate: 0 0%;
  }
}

@media (hover: hover) {

  .button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);

    &::before,
    &::after {
      background-color: var(--color-light);
    }
  }

  .todo__item:hover {
    scale: 1.03;
  }
}

@media (hover: none) {

  .button:active {
    background-color: var(--color-dark);
    color: var(--color-light);

    &::before,
    &::after {
      background-color: var(--color-light);
    }
  }

  .todo__item:active {
    scale: 1.03;
  }
}